html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display:table;
	border-spacing: 50px;
}

#controls {
	display:table-row;
	width: 100%;
}
#mapdiv {
	display:table-row;
	height: 100%;
}

.overlay {
	fill: none;
	pointer-events: all;
}

.road {
	fill: none;
	stroke-width: 5px;
	stroke-linejoin: round;
}

.counties {
	stroke: grey;
	fill: none;
}